.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
