// video mixin
.video-mixin {
  color: white;

  .video-mixin__thumb {
    width: 253.656px;
    height: 142.328px;
    border-radius: 7px;
    background-color: ivory;
  }
  .video-mixin__data {
    display: flex;
    margin-top: 10px;
    padding-right: 15px;
    padding-bottom: 40px;
    .video__mixin__avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-right: 12px;
    }
    .video-mixin__title {
      font-size: 15px;
      display: block;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 10px;
    }
  }
}
