//- left-nav
//-     ul
//-         li
//-             a(href="/") 
//-                 i.fa.fa-home
//-                 span home
//-         li
//-             a(href="/") 
//-                 i.fa.fa-music
//-                 span YouTube Music 
//-         li
//-             a(href="/")
//-                 span Light Mode
//-         li
//-             a(href="/")
//-                 i.fa.fa-cog
//-                 span Set
//-         li
//-             a(href="/") Originals        



